button {
  color: #545454;
  font-size: 1.2em;
  padding: 10px;
}

input {
  color: #f4a55a;
  display: block;
  font-family: cursive, sans-serif;
  font-size: 2em;
  margin-top: 10px;
  padding: 10px;
}
h1 {
  color: #70b2e5;
  font-family: sans-serif;
}

#convert {
  background-color: #bba768;
}
#convert:hover {
  background-color: #bcc768;
}
